.bg {
    padding-top: 2rem;
    padding-left: 10rem;
    background-image: url("../img1.png");
    background-position: center;
    background-size: cover;
    background-color: rgb(0, 191, 255);
    background-blend-mode: lighten;
}

@media only screen and (max-width: 600px) {
    .bg {
        padding-left: 0;
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .img__size {
        height: 40%;
        background-size: cover;
    }
}


@media only screen and (max-width: 600px) {
    html {
        font-size: 60%;
    }
}

.img__size {
    
    height: 70%;
    /* padding-bottom: 1rem; */
}
@media only screen and (max-width: 600px) {
    .img__size {
        height: 40%;
        
    }
}

.button {
    padding: 14px 40px;
    background-color: #fcfcfc;
    color: black;
    border: 2px solid #8000ff;
    
}


